:root {
  --body-text-color: #434455;
  --body-bg-color: #fff;
  --bright-bg-color: #fcfcfc;
  --bright_text-color: #f4f4fd;
  --headings-color: #2e2f42;
  --primary-brand-color: #4d5ae5;
  --active-button-color: #404bbf;
  --portfolio-border-color: #e7e9fc;
  --footer-active-links-bg: #31d0aa;
  --light-grey-color: #8e8f99;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--body-text-color);
  background-color: var(--body-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-list-title {
  color: var(--headings-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.section-list {
  display: flex;
  gap: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Navigation-section*/
.header {
  border-bottom: 1px solid var(--portfolio-border-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  display: inline-block;
  color: var(--primary-brand-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo-accent {
  color: var(--headings-color);
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: var(--headings-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: inline-block;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--active-button-color);
}

.nav-link-studio {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: inline-block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--active-button-color);
}

.nav-link-studio::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--active-button-color);
  border-radius: 2px;
  width: 100%;
}

.address-section {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-link {
  color: var(--body-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--active-button-color);
}

/*Hero-section*/

.hero-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-color: var(--headings-color);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: var(--body-bg-color);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
}

.button {
  color: var(--body-bg-color);
  background-color: var(--primary-brand-color);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--active-button-color);
}

/*Features-section*/

.features-section {
  padding: 120px 0;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
  border: 1px solid var(--light-grey-color);
  background: var(--bright_text-color);
  margin-bottom: 8px;
}

/*Team-section*/

.section-title {
  color: var(--headings-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}

.team-section {
  background-color: var(--bright_text-color);
  padding: 120px 0;
}

.team-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.team-item {
  background-color: var(--body-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);

  width: calc((100% - 72px) / 4);
}

.card-text-block {
  padding: 32px 0;
}

.team-list-title {
  color: var(--headings-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.team-text {
  text-align: center;
  margin-bottom: 8px;
}

.social-links {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.socials-item .link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links .link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.social-links .link:hover,
.social-links .link:focus {
  background-color: var(--active-button-color);
}

.social-links .icon {
  fill: var(--bright_text-color);
}

/*Portfolio-section*/

.portfolio-section {
  padding: 120px 0 120px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-text-block {
  padding: 32px 16px;
  border: 1px solid var(--portfolio-border-color);
  border-top: none;
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  color: var(--bright_text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: var(--primary-brand-color);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay,
.portfolio-item:focus .portfolio-overlay {
  transform: translateY(0);
}

/*Footer-section*/

.footer {
  background-color: var(--headings-color);
  padding: 100px 0;
}

.inner-footer {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: inline-block;
  color: var(--primary-brand-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer-logo-accent {
  color: var(--bright_text-color);
}

.footer-text {
  color: var(--bright_text-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-logo-text {
  margin-right: 120px;
}

.footer-title {
  color: var(--body-bg-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-socials {
  display: flex;
  gap: 16px;
  margin-right: 80px;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
}

.footer-socials-item .link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials .link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-socials .link:hover,
.footer-socials .link:focus {
  background-color: var(--footer-active-links-bg);
}

.footer-socials .icon {
  fill: var(--bright_text-color);
}

.subscribe-input {
  width: 264px;
  height: 40px;
  color: var(--body-bg-color);
  border-radius: 4px;
  border: 1px solid var(--body-bg-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-input::placeholder {
  color: var(--body-bg-color);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background: var(--primary-brand-color);
  color: var(--body-bg-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.subscribe-btn-icon {
  margin-left: 16px;
  fill: var(--body-bg-color);
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

/*End footer-section*/

/*Modal*/

.backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding: 8px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: var(--bright-bg-color);
  width: 408px;
  min-height: 584px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: var(--portfolio-border-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--active-button-color);
  border: none;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .close-icon,
.modal-close:focus .close-icon {
  fill: var(--body-bg-color);
}

.modal-title {
  color: var(--headings-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal-label {
  color: var(--light-grey-color);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  padding-left: 38px;
  width: 100%;
  height: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-textarea:focus {
  outline: none;
  border-color: var(--primary-brand-color);
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--primary-brand-color);
}

.modal-textarea {
  height: 120px;
  width: 100%;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.commemt-field {
  margin-bottom: 16px;
}

textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.modal-checkbox-wrap {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.modal-checkbox-label {
  color: var(--light-grey-color);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.privacy-policy {
  color: var(--primary-brand-color);
  text-decoration: underline;
}

.modal-checkbox-check {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-checkbox-input:checked + .modal-checkbox-label .modal-checkbox-check {
  background-color: var(--active-button-color);
  border: none;
  fill: var(--bright_text-color);
}

/*End Modal*/
